body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

h1 {
  margin-top: 20px;
  font-size: 24px;
}

.game-description {
  margin-top: 10px;
  font-size: 14px;
}

#gameContainer {
  position: relative;
  width: 100%;
  max-width: 600px; /* Taille maximale du canvas */
  margin: 0 auto;
}

#gameCanvas {
  width: 100%;
  height: auto;
  background-color: #222;
  image-rendering: pixelated;
  border: 4px solid #fff;
}

/* Ajuster les boutons pour les petits écrans */
#touchControls button {
  padding: 5px;
  margin: 3px;
  font-size: 14px;
}

#hud p {
  font-size: 10px;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 18px;
  }

  .game-description {
    font-size: 12px;
  }

  #hud p {
    font-size: 8px;
  }

  #touchControls button {
    padding: 4px;
    margin: 2px;
    font-size: 12px;
  }
}


#hud {
  text-align: center;
  margin-top: 10px;
}

#hud p {
  margin: 5px;
  font-size: 12px;
}

/* Styles pour la description des commandes clavier */
#keyboardCommands {
  margin-top: 10px;
  font-size: 12px;
}

/* Styles pour les contrôles tactiles */
#controlsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

#touchControls {
  display: flex;
  justify-content: center;
}

#touchControls button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  width: auto;
}

#moveControls, #actionControls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#moveControls {
  margin-right: 20px;
}

#actionControls {
  margin-left: 20px;
}

.middleButtons {
  display: flex;
}

.middleButtons button {
  margin: 0 5px;
}
